<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>SkillTrack - Home</title>
</head>
<body>

<h1>Bienvenue sur SkillTrack</h1>

{% if user.is_authenticated %}

    <p>Salut {{ user.username }} 👋</p>

    <ul>
        <li><a href="{% url 'dashboard' %}">📊 Dashboard</a></li>
        <li><a href="{% url 'profile' %}">👤 Profile</a></li>
        <li><a href="{% url 'edit_profile' %}">✏️ Modifier Profile</a></li>
        <li><a href="{% url 'logout' %}">🚪 Logout</a></li>
    </ul>

{% else %}

    <p>
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'register' %}">Register</a>
    </p>

{% endif %}

</body>
</html>
